
<section class='gust-box-shadow--default gust-margin--medium--bottom' >
  <div class='row' >
    <div class='col-md-12' >
      <div class='row startup-header-row' id='startup_header'>
        <div class='col-md-7' >
          <div class='row' >
            <div class='col-md-10' >
              <h2 class='header--narrow-top' >
                {{ dealCtrl.deal.startup }}
                <span class='gust-font-size--smaller' >
                  <span class='startup-header-location' >
                    {{ dealCtrl.deal.address }}
                  </span>
                  <span class='startup-header-industry gust-padding--extra-small--left' >
                    {{ dealCtrl.deal.industry }}
                  </span>
                </span>
              </h2>
              <p class='quote quote--green' >{{ dealCtrl.deal.pitch }}</p>
            </div>
          </div>
        </div>
        <div class='col-md-5' >
          <div class='text-right' >
            <div class='btn-group' >
              <div class='dropdown' >
                <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Company One-Pager
                  <i class="fa fa-caret-down"></i>
                </a><ul class='dropdown-menu pull-right text-left' >
                  <li >
                  <a href="/deals/1984/details">View</a>
                  </li>
                  <li >
                  <a href="/deals/1984/details/print">Print</a>
                  </li>
                </ul>
              </div>
            </div>
            <a href="/deals/1984/interest_levels/776/edit" class="btn btn-primary btn-xs" data-container="#participants_section_wrapper" data-success-callback="refresh-target-container" data-target="#modal" data-toggle="modal">Set Interest
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class='navbar navbar-default navbar--centered' data-role='startup-navigation'>
    <tabset>
    <tab ng-repeat='tab in tabs' heading="{{tab.title}}" active='tab.active' disabled='tab.disabled'>
      <div ng-include="tab.templateUrl"></div>
    </tab>
    </tabset>
    <ul class='nav navbar-nav navbar-nav--with-active-arrow' >
      <li>
      <a href="#overview" data-toggle="tab">Overview</a>
      </li><li>
      <a href="#pitch_deck" data-toggle="tab">Pitch Deck</a>
      </li><li>
      <a href="#team" data-toggle="tab">Team</a>
      </li><li>
      <a href="#executive_summary" data-toggle="tab">Executive Summary</a>
      </li><li>
      <a href="#financials" data-toggle="tab">Financials</a>
      </li><li>
      <a href="#documents" data-toggle="tab">Documents</a>
    </li></ul>
  </nav>
  <div >
    <div class='tab-content' role='content company-information-content' style='min-height:312px'>
      <div class='tab-pane active fade in' >
        <div class='row' >
          <div class='col-md-7' >
            <div class='row gust-margin--medium--bottom' >
              <div class='col-md-12' >
                <p class='light-paragraph gust-margin--medium--bottom' >
                Makani currently shows tracker stories associated with commits that are different between the latest release and latest release candidate... however, it won't show stories old than a week (due to tracker API) and there could be some more transparency as to what is where. I would like dedicate efforts to make makani able to plan and drive a release... maybe even nanny over commits and such. It should be useful to both product and tech.
                </p>
                <div class='row' >
                  <div class='col-md-6' >
                    <h5 >Entrepreneur</h5>
                    <div class='row' >
                      <div class='col-md-12' >
                        <div class='media media--contact-card' >
                          <div class='pull-left' >
                            <img alt="Small_a6791b67-6987-4eb5-b4b4-52696353a046" class="avatar--small media-object img-circle" src="https://zephyr-integration.s3.amazonaws.com/uploads/user/placeholder_avatar_image/4837/small_a6791b67-6987-4eb5-b4b4-52696353a046.png" />
                          </div>
                          <div class='media-body' >
                            <div class='media-heading' >
                              <a href="/user/3ba82f32e8719cd3fcfaa992962d7acd" class="media-heading__name">Ryan Nash</a>
                              <div class='media-heading__role' ></div>
                              <div class='media-heading__email' >
                                nash+makani@gust.com
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class='col-md-3' >
                    <h5 >Team</h5>
                    <div class='gust-margin--extra-small--bottom' >
                      <div class='small-body-darker' >Ryan Nash</div>
                      <div class='gust-font-size-smallest' ></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class='col-md-5' >
            <div class='panel panel--bare' >
              <div class='panel-body' >
                <div class='gust-margin--small--bottom' >
                  <div class='video-placeholder text-center' >
                    <div class='video-placeholder__overlay-text' >No video available.</div>
                  </div>
                </div>

                <div class='well well-sm' >
                  <div class='row' >
                    <div class='col-md-3' >
                      <div class='text-center' >
                        <strong >--</strong>
                        <div class='small' >Founded</div>
                      </div>
                    </div>
                    <div class='col-md-3' >
                      <div class='text-center' >
                        <strong >--</strong>
                        <div class='small' >Raised</div>
                      </div>
                    </div>
                    <div class='col-md-3' >
                      <div class='text-center' >
                        <strong >$250k</strong>
                        <div class='small' >Seeking</div>
                      </div>
                    </div>
                    <div class='col-md-3' >
                      <div class='text-center' >
                        <strong >$0</strong>
                        <div class='small' >Pre-Money</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class='row' >
          <div class='col-md-7' >
            <div class='row' >
              <div class='col-md-8' >
                <dl class='dl-inline' >
                  <dd >Stage</dd>
                  <dt >Product In Development</dt>
                </dl>
              </div>
              <div class='col-md-4' >
                <dl class='dl-inline pull-right' >
                  <dd >Submitted</dd>
                  <dt >Apr 18, 2014</dt>
                </dl>
              </div>
              <div class='col-md-12' >
                <hr class='gust-margin--no-margin--top gust-margin--no-margin--bottom' >
              </div>
            </div>
          </div>
          <div class='col-md-5' >
            <div class='row' >
              <div class='col-md-6' >
              </div>
              <div class='col-md-6 text-right' >

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class='tab-pane fade' >
        <div class='panel panel--bare' >
          <div class='panel-body' >
            <div class='blank-slate-placeholder pitch-deck-placeholder' >
              <div class='pitch-deck-placeholder__overlay-text' >
                The entrepreneur has not uploaded a pitch deck.
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class='tab-pane fade' >
        <div class='row' >
          <div class='col-md-8' >
            <div class='panel panel--bare' >
              <div class='panel-heading panel-heading--with-actions' >
                <h3 class='panel-title' >
                  Management Team
                </h3>
              </div>
              <div class='panel-body' >
                <div class='row' >
                  <div class='col-md-6' >
                    <div class='media media--social-contact-card' >
                      <div class='pull-left' >
                        <img alt="A6791b67-6987-4eb5-b4b4-52696353a046" class="avatar--medium media-object img-circle" src="https://zephyr-integration.s3.amazonaws.com/uploads/user/placeholder_avatar_image/4837/a6791b67-6987-4eb5-b4b4-52696353a046.png" />
                      </div>
                      <div class='media-body' >
                        <div class='media-heading' >
                          <div class='media-heading__name' >
                            <a href="/user/3ba82f32e8719cd3fcfaa992962d7acd" class=".media-heading__name">Ryan Nash</a>
                          </div>
                          <div class='media-heading__role' ></div>
                          <div class='media-heading__status' ></div>
                          <div class='media-heading__action-link' >
                          </div>



                        </div>
                      </div>
                    </div>

                    <div class='gust-padding--small--vertical' >

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-4' >
            <div class='panel panel--bare' >
              <div class='panel-heading panel-heading--with-actions' >
                <h3 class='panel-title' >
                  Advisors
                </h3>
                <h4 class='panel__subtitle' >
                  The entrepreneur has not completed this section.
                </h4>
              </div>
            </div>
            <div class='panel panel--bare' >
              <div class='panel-heading panel-heading--with-actions' >
                <h3 class='panel-title' >
                  Previous Investors
                </h3>
                <h4 class='panel__subtitle' >
                  The entrepreneur has not completed this section.
                </h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class='tab-pane fade' >
        <div class='row' >
          <div class='col-md-6' >
            <div data-presents='inline-edit' id='customer_problem'>
              <div class='panel panel--bare' >
                <div class='panel-heading panel-heading--with-actions' >
                  <div class='panel-heading__actions' >
                  </div>
                  <h3 >
                    Customer Problem
                  </h3>
                </div>
                <div class='panel-body gust-padding--no-padding--horizontal gust-padding--no-padding--top' >
                  Knowing what is in a release is a little confusing sometimes, for both product, creative and tech.
                </div>
              </div>

            </div>
          </div>
          <div class='col-md-6' >
            <div data-presents='inline-edit' id='product_services'>
              <div class='panel panel--bare' >
                <div class='panel-heading panel-heading--with-actions' >
                  <div class='panel-heading__actions' >
                  </div>
                  <h3 >
                    Products &amp; Services
                  </h3>
                </div>
                <div class='panel-body gust-padding--no-padding--horizontal gust-padding--no-padding--top' >
                  Makani should show an at a glance status of the next (and maybe last) release, allow you to dig deeper into the contents and plan new releases.
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class='row' >
          <div class='col-md-6' >
            <div data-presents='inline-edit' id='customers'>
              <div class='panel panel--bare' >
                <div class='panel-heading panel-heading--with-actions' >
                  <div class='panel-heading__actions' >
                  </div>
                  <h3 >
                    Customers
                  </h3>
                </div>
                <div class='panel-body gust-padding--no-padding--horizontal gust-padding--no-padding--top' >
                  Gust devs, product, creative, marketing and biz dev.
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class='tab-pane fade' >
        <div >
          <div class='panel panel--bare' >
            <div class='panel-heading panel-heading--with-actions' >
              <h3 class='panel-title' >
                Annual Financials
                <small class='currency' >(USD)</small>
              </h3>
            </div>
            <div class='panel-body gust-padding--no-padding--horizontal gust-padding--no-padding--top' >

            </div>
            <table class='table table--data gust-spacing--medium--bottom' >
              <thead >
                <th class='table-column__title-column' ></th>
                <th class='table-column__data text-right' >
                  <strong >
                    2013
                  </strong>
                </th>
                <th class='table-column__data text-right' >
                  <strong >
                    2014
                  </strong>
                </th>
                <th class='table-column__data text-right' >
                  <strong >
                    2015
                  </strong>
                </th>
                <th class='table-column__data text-right' >
                  <strong >
                    2016
                  </strong>
                </th>
                <th class='table-column__data text-right' >
                  <strong >
                    2017
                  </strong>
                </th>
              </thead>
              <tbody >
              <tr >
                <td class='table-column__title-column gust-font-size-small' >
                  <strong >
                    <div class='table-column__data' >
                      Revenue Driver
                    </div>
                  </strong>
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
              </tr>
              <tr >
                <td class='table-column__title-column gust-font-size-small' >
                  <strong >Revenue</strong>
                  <span class='gust-font-size-small' >$</span>
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
              </tr>
              <tr >
                <td class='table-column__title-column gust-font-size-small' >
                  <strong >Expenditure</strong>
                  <span class='gust-font-size-small' >$</span>
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
                <td class='text-right gust-font-size-small' >
                  --
                </td>
              </tr>
              <tr >
                <td class='table-column__title-column gust-font-size-small' >
                  <strong >Profit (Loss)</strong>
                  <span class='gust-font-size-small' >$</span>
                </td>
                <td class='gust-font-size-small text-right '>
                  --
                </td>
                <td class='gust-font-size-small text-right '>
                  --
                </td>
                <td class='gust-font-size-small text-right '>
                  --
                </td>
                <td class='gust-font-size-small text-right '>
                  --
                </td>
                <td class='gust-font-size-small text-right '>
                  --
                </td>
              </tr>
              </tbody>
            </table>

          </div>

        </div>
        <div class='row' >
          <div class='col-md-7' >
            <div >
              <div class='panel panel--bare' >
                <div class='panel-heading panel-heading--with-actions' >
                  <div class='panel-heading__actions' >
                  </div>
                  <h3 class='panel-title' >
                    Current Funding Round
                    <small class='currency' >(USD)</small>
                  </h3>
                  <div >
                    <table class='table table--data' >
                      <thead >
                        <th class='text-center' >
                          Funding Round
                        </th>
                        <th class='text-center' >
                          Capital Seeking
                        </th>
                        <th class='text-center' >
                          Pre-Money Valuation
                        </th>
                      </thead>
                      <tbody class='text-center' >
                      <tr >
                        <td >
                          <strong >
                            Seed Round
                          </strong>
                        </td>
                        <td >
                          <strong >
                            $250,000
                          </strong>
                        </td>
                        <td >
                          <strong >
                            $0
                          </strong>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

            </div>
            <div data-translations='{"revenueDriver":"Revenue Driver"}' id='company_financials'>
              <div class='panel panel--bare' >
                <div class='panel-heading panel-heading--with-actions' >
                  <div class='panel-heading__actions' >
                  </div>
                  <h3 class='panel-title' >
                    Company Financials
                    <small class='currency' >(USD)</small>
                  </h3>
                  <h4 class='panel__subtitle' >
                    <div class='note' >The entrepreneur has not completed this section.</div>
                  </h4>
                </div>
                <div >
                  <table class='table table--data' >
                    <thead >
                      <th class='text-center' >
                        Previous Capital
                      </th>
                      <th class='text-center' >
                        Revenue Run Rate
                      </th>
                      <th class='text-center' >
                        Monthly Burn Rate
                      </th>
                    </thead>
                    <tbody class='text-center' >
                    <tr >
                      <td >
                        <strong >
                          --
                        </strong>
                      </td>
                      <td >
                        <strong >
                          --
                        </strong>
                      </td>
                      <td >
                        <strong >
                          --
                        </strong>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <div class='col-md-5' >
            <div >
              <div class='panel panel--bare' >
                <div class='panel-heading panel-heading--with-actions' >
                  <div class='panel-heading__actions' >
                  </div>
                  <h3 class='panel-title' >
                    Funding History
                    <small class='currency' >(USD)</small>
                  </h3>
                  <h4 class='panel__subtitle' >
                    The entrepreneur has not completed this section.
                  </h4>
                </div>
                <div class='panel panel-default gust-border--no-border' >
                  <div class='panel-heading' >
                    <h4 class='gust-margin--no-margin' >

                    </h4>
                  </div>
                  <ul class='list-group gust-border--gray-lighter' >
                    <li class='list-group-item' >
                    Pre-Money Valuation
                    <div class='pull-right' >
                      <strong >--</strong>
                    </div>
                    </li>
                    <li class='list-group-item' >
                    Capital Raised
                    <div class='pull-right' >
                      <strong >--</strong>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class='tab-pane fade' >
        <h3 >Entrepreneur Documents</h3>
        <table class='table table--vertical-align-middle table--data table--data--minimal' data-presents='sortable-table' data-sort-direction='desc' >
          <thead >
            <tr >
              <th class='type' data-initial-sort='true' data-sort-direction='asc' >Type</th>
              <th class='document_name' >Document Name</th>
              <th class='date' >Date Uploaded</th>
              <th class='uploaded_by gust-border--no-border--right' >Uploaded By</th>
              <th class='document_delete gust-border--no-border' data-disable-sort='true' ></th>
            </tr>
          </thead>
          <tbody >

          </tbody>
        </table>

      </div>
    </div>
  </div>

</section>
<div class='panel panel-default gust-box-shadow--default' >
  <div class='panel-heading' >
    <div class='panel-title' >
      <span title='Current Stage'>Screened</span>
      <div class='pull-right' >
        <div class='informational-icon-tooltip__title gust-margin--extra-small--top gust-typography--text-center gust-color--gray' >
          The entrepreneur cannot view the information below.
          <i class="fa fa-info-circle informational-icon-tooltip__icon" data-placement="top" data-presents="tooltip" data-title="Deal Room information is never shared with the entrepreneur."></i>
        </div>
      </div>

    </div>
  </div>
  <div class='panel-body' data-role='deal-room' id='investor_overview_body'>
    <div class='row' >
      <div class='col-md-7' >
        <div >
          <div class='panel panel--bare' >
            <div class='panel-heading panel-heading--with-actions' >
              <h3 class='panel-title' >
                Latest Status
              </h3>
            </div>
            <div class='panel-body' >
              <div >
                No status updates have been posted.
              </div>
              <div class='pull-right' >
                <a href="/deals/1984/deal_activities" class="gust-font-size--small">View All</a>
              </div>
            </div>
          </div>

        </div>
        <div >

        </div>
        <div >
          <div >
            <div class='panel panel--bare' >
              <div class='panel-heading panel-heading--with-actions' >
                <div class='pull-left' >
                  <h3 class='panel-title' >Interest Levels</h3>
                  <div class='small' >
                    <div class='clearfix' >
                      <div class='pull-left' >
                        <span >Deal Leads:</span>
                        &nbsp;
                      </div>
                      <div class='pull-left' >
                        <div class='toggler' data-presents='toggler' data-stop-propagation='true'>
                          <span>
                            To set a Deal Lead, visit the <a href="/deals/1984/members">Manage Access</a> page.

                            <span class='active hidden'>
                              ,

                              <a href="#" class="less toggle">- show less</a>
                            </span>
                          </span>
                          <span class='toggle-links' >
                          </span>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class='panel-heading__actions' >
                  <a href="/deals/1984/interest_levels/776/edit" class="btn btn-default btn-xs right" data-container="#participants_section_wrapper" data-success-callback="refresh-target-container" data-target="#modal" data-toggle="modal">Set Interest
                </a></div>
              </div>
              <div class='panel-body' role='participants-table'>
                <table class='table--breakdown-table table--breakdown-table--color-palette-money'>
                  <tbody >
                  <tr >
                    <td colspan='4'>
                      <table class='table--breakdown-table__section' >
                        <thead class='table--breakdown-table__section__header' data-presents='collapse' data-target='#domid_69925592152540'>
                          <tr >
                            <th >
                              <i class="fa fa-chevron-circle-down"></i>
                              <i class="fa fa-chevron-circle-right"></i>
                              <span class='table--breakdown-table__section__header__title' >
                                Invested 0
                              </span>
                              <span class='table--breakdown-table__section__header__action' >

                              </span>
                            </th>
                            <th ></th>
                            <th class='text-right' >
                              --
                            </th>
                            <th class='table--breakdown-table__spacer' ></th>
                          </tr>
                        </thead>
                        <tbody class='collapse in' id='domid_69925592152540'>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr >
                    <td colspan='4'>
                      <table class='table--breakdown-table__section' >
                        <thead class='collapsed table--breakdown-table__section__header' data-presents='collapse' data-target='#domid_69925592152480'>
                          <tr >
                            <th >
                              <i class="fa fa-chevron-circle-down"></i>
                              <i class="fa fa-chevron-circle-right"></i>
                              <span class='table--breakdown-table__section__header__title' >
                                Committed 1
                              </span>
                              <span class='table--breakdown-table__section__header__action' >

                              </span>
                            </th>
                            <th ></th>
                            <th class='text-right' >
                              $50k
                            </th>
                            <th class='table--breakdown-table__spacer' ></th>
                          </tr>
                        </thead>
                        <tbody class='collapse' id='domid_69925592152480'>
                        <tr class='committed_interest_level'>
                          <td ></td>
                          <td >
                            Ryan McGarvey
                          </td>
                          <td class='text-right' >
                            $50k
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr >
                    <td colspan='4'>
                      <table class='table--breakdown-table__section' >
                        <thead class='collapsed table--breakdown-table__section__header' data-presents='collapse' data-target='#domid_69925592152440'>
                          <tr >
                            <th >
                              <i class="fa fa-chevron-circle-down"></i>
                              <i class="fa fa-chevron-circle-right"></i>
                              <span class='table--breakdown-table__section__header__title' >
                                Considering 0
                              </span>
                              <span class='table--breakdown-table__section__header__action' >

                              </span>
                            </th>
                            <th ></th>
                            <th class='text-right' >
                              --
                            </th>
                            <th class='table--breakdown-table__spacer' ></th>
                          </tr>
                        </thead>
                        <tbody class='collapse' id='domid_69925592152440'>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr >
                    <td colspan='4'>
                      <table class='table--breakdown-table__section' >
                        <thead class='collapsed table--breakdown-table__section__header' data-presents='collapse' data-target='#domid_69925592152380'>
                          <tr >
                            <th >
                              <i class="fa fa-chevron-circle-down"></i>
                              <i class="fa fa-chevron-circle-right"></i>
                              <span class='table--breakdown-table__section__header__title' >
                                Observing 1
                              </span>
                              <span class='table--breakdown-table__section__header__action' >

                              </span>
                            </th>
                            <th ></th>
                            <th class='text-right' >

                            </th>
                            <th class='table--breakdown-table__spacer' ></th>
                          </tr>
                        </thead>
                        <tbody class='collapse' id='domid_69925592152380'>
                        <tr class='observing_interest_level'>
                          <td ></td>
                          <td >
                            Ryan Nash
                          </td>
                          <td class='text-right' >

                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot >
                    <tr >
                      <th class='table--breakdown-table__summary' colspan='2'>
                        <span class='table--breakdown-table__title' >
                          Total (USD)
                        </span>
                        <span class='table--breakdown-table__description small text-muted' >
                          Includes syndication &amp; private amounts
                        </span>
                      </th>
                      <th class='text-right' >
                        $50k
                      </th>
                      <th class='table--breakdown-table__spacer' ></th>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>

        </div>
        <div >
          <div >
            <div class='panel panel--bare' >
              <div class='panel-heading panel-heading--with-actions' >
                <h3 class='panel-title' >
                  Syndication
                </h3>
                <div class='panel-heading__actions' >
                </div>
              </div>
              <div class='panel-body' >
                <p >This deal has not been syndicated.</p>
              </div>
            </div>
          </div>

        </div>
        <div >
          <div >
            <div class='panel panel--bare' >
              <div class='panel-heading panel-heading--with-actions' >
                <div class='pull-left' >
                  <h3 class='panel-title' >
                    Ratings &amp; Reviews
                  </h3>
                  <div >
                    <div data-placement='top' data-presents='tooltip' title='Click to rate this deal.'>
                      <a href="/deals/1984/reviews/219/edit" class="review-deal" data-container="#ratings_and_reviews_section_wrapper" data-success-callback="refresh-target-container" data-target="#modal" data-target="#modal" data-toggle="modal" data-toggle="modal" rel="review-deal"><div class='stars-component' >
                          <div class='star-rating' data-presents='star-rating' data-readonly='true' data-value='4.5'></div>
                        </div>

                    </a></div>

                  </div>
                </div>
                <div class='panel-heading__actions' >
                  <a href="/deals/1984/reviews/219/edit" class="btn btn-default btn-xs" data-container="#ratings_and_reviews_section_wrapper" data-success-callback="refresh-target-container" data-target="#modal" data-toggle="modal" rel="review-deal">Add Rating</a>
                </div>
              </div>
              <ul class='list-group' >
                <li class='list-group-item' >
                <div class='row' >
                  <div class='col-md-3' >
                    <div >
                      <div class='small' ><a href="/user/01873c0ba435d5452bf8de55c5afe490">Ryan McGarvey</a></div>
                    </div>
                    <div >
                      <div class='small' ></div>
                    </div>
                    <div class='small text-muted' >
                      May 02, 2014
                    </div>
                  </div>
                  <div class='col-md-9' >
                    <div class='row gust-margin--extra-small--bottom' >
                      <div class='col-md-4' >
                        <div class='small' >Measurable success</div>
                        <div class='stars-component' >
                          <div class='stars-component' >
                            <div class='star-rating' data-presents='star-rating' data-readonly='true' data-value='3.0'></div>
                          </div>

                        </div>
                      </div>
                      <div class='col-md-4' >
                        <div class='small' >Realistic</div>
                        <div class='stars-component' >
                          <div class='stars-component' >
                            <div class='star-rating' data-presents='star-rating' data-readonly='true' data-value='5.0'></div>
                          </div>

                        </div>
                      </div>
                      <div class='col-md-4' >
                        <div class='small' >Relevant problem</div>
                        <div class='stars-component' >
                          <div class='stars-component' >
                            <div class='star-rating' data-presents='star-rating' data-readonly='true' data-value='5.0'></div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class='row gust-margin--extra-small--bottom' >
                      <div class='col-md-4' >
                        <div class='small' >Well articulated</div>
                        <div class='stars-component' >
                          <div class='stars-component' >
                            <div class='star-rating' data-presents='star-rating' data-readonly='true' data-value='5.0'></div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class='col-md-5' >
        <div >
          <div >
            <div class='panel panel--bare' >
              <div class='panel-heading panel-heading--with-actions' >
                <h3 class='panel-title' >
                  Discussions
                </h3>
                <div class='panel-heading__actions' >
                  <a href="/deals/1984/conversations/new" class="btn btn-default btn-xs" data-container="#discussions_section_wrapper" data-success-callback="refresh-target-container" data-target="#modal" data-toggle="modal">Start a Discussion</a>
                </div>
              </div>
              <div class='panel-body' >
                <div class='panel panel-default gust-margin--no-margin--bottom' >
                  <div class='panel-body gust-padding--no-padding--top' >
                    <ul class='list-group list-group--bottom-border' >
                      <li class='list-group-item gust-padding--no-padding--top' >
                      <h4 >
                        <span class='icon--discussions' >
                          <i class="fa fa-circle"></i>
                          <i class="fa fa-comment"></i>
                        </span>
                        <a href="/deals/1984/conversations/708" class="gust-color--gray-dark gust-line-height--large" role="discussions-subject">Looking to get started on this</a>
                      </h4>
                      <div class='gust-font-size-small gust-color--gray-darker clearfix' >
                        <div class='pull-left' >
                          <a href="/user/01873c0ba435d5452bf8de55c5afe490">Ryan McGarvey</a>
                        </div>
                        <div class='pull-right' >
                          Jul 11, 2014
                        </div>
                      </div>
                      <div class='gust-color--gray-darker light-paragraph clearfix' >
                        <p><p>Gonna start just grocking the code again and doing some refactoring. I've already forked the project and hosted it on ec2.</p>
                        <br /><p>Should we chat about what would be useful in order to track the new period planning work ...</p></p>
                      </div>
                      <div class='clearfix small' >
                        <div class='pull-left' >
                        </div>
                      </div>
                      </li>
                    </ul>
                    <div class='pull-right' >
                      <a href="/deals/1984/conversations" class="panel-footer__link gust-font-size--small">View All</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div >
          <div class='panel panel--bare' >
            <div class='panel-heading panel-heading--with-actions' >
              <h3 class='panel-title' >
                Investor Documents
              </h3>
              <div class='panel-heading__actions' role='document-actions'>
                <a href="/deals/1984/folders/4633/recent_investor_documents" class="btn btn-xs btn-default" data-bucket-name="zephyr-integration" data-directory-path="uploads/document/file/" data-document-slug="45337dca-a575-4388-b4a9-ac194260ce49" data-presents="document-uploader" data-refresh-container="#recent_investor_documents">Add Document</a>
              </div>
            </div>
            <div class='panel-body' >
              <div class='panel panel-default' >
                <div class='panel-body' >
                  <div >
                    <p class='text-center' >There are no investor documents available. </p>

                  </div>
                  <div class='pull-right gust-margin--medium--top' >
                    <a href="/deals/1984/folders/4633" class="panel-footer__link gust-font-size--small">View All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
