<div class="row" >
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-repeat="stage in dealsCtrl.stages" ng-click="dealsCtrl.selectStage(stage)">
        <a >{{ stage.name }}</a>
      </li>
    </ul>
  </div>
</div>
<div style="margin-top: 20px;" class="row">
  <div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="startup in dealsCtrl.startups" ng-click="dealsCtrl.selectStartup(startup)">
      {{ startup.name }}
      <hr>
      </li>

    </ul>
  </div>

  <div ui-view="detail-view" class="col-md-8">

  </div>
</div>

